[core]
	editor = nvim
[user]
	email = justin.luque@gmail.com
	name = Justin Luque
[commit]
	gpgsign = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
[push]
	autoSetupRemote = true
